.app-container {
  display: flex;
  color: #333;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  white-space: pre;
}

.blink {
  animation: blinking 0.8s infinite;
  animation-delay: 0.35s;
}

@media only screen and (max-width: 600px) {
  .welcome-text {
    font-size: 20px;
  }
}

@keyframes blinking {
  from {opacity: 0;}
  to {opacity: 1;}
}
